
BIBLE_API_KEY=
BUFFER_API_KEY=
BUFFER_INSTAGRAM_CHANNEL_ID=
# BIBLE_VERSION_LABEL=NIV
# BIBLE_ID=de4e12af7f28f599-01
# Optional overrides for the Bible Verse Post Tool (see README):
# BIBLE_ID=de4e12af7f28f599-01
# BIBLE_VERSION_LABEL=KJV
